.countries{
	height: 100%;
	padding: 50px 0 100px 0;
	background-color: rgba(0,0,0,.90);

	.table-scroll{
		width: 95%;
		margin: 0 auto;
		max-height: 400px;
		overflow: auto;
	}
}

.countries-tbl{
	border: 2px solid black;
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;

	tr{
		padding: 10px 0;
	}

	th, td{
		padding: 10px;
		border: 1px solid black;
		color: #fff;
	}

	th{
		background-color: #333;
	}

	tr:nth-child(odd){
		background-color: $light-blue;
	}

	tr:nth-child(even){
		background-color: $blue;
	}

	tr.clickable:hover{
	background-color: #e67300;
	}
}