html{
  box-sizing: border-box;
  height: 100%;
  font-family: 'Slabo 27px', serif; 
}

body{
	height: 100%;
	margin: 0;
	background: url(../imgs/map.jpg) no-repeat center center fixed;
	background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
	text-decoration: none;
}

.container{
	position: relative;
	z-index: 1000;
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,.75);
}

.btn{
	display: inline-block;
	margin-top: 50px;
	color: #fff;
	padding: 10px;
	background-color: $dark-blue;
	-webkit-transition: all .5s;
	transition: all .5s;

	&:hover{
		background-color: $blue;
	}
}

.clickable:hover{
	cursor: pointer;
}