.home{
	padding: 100px 0;
	height: 100%;
	background: rgba(0,0,0, .5);

	.info{
		line-height: 2em;
		font-size: 1.25em;
		color: #fff;

		a{
			color: #ccc;

			&:hover{
				text-decoration: underline;	
			}
		}
	}
}