// DEFINITIONS AND GLOBALS
@import "scss/_variables.scss";
@import "scss/_globals.scss";

//SECTIONS
@import "scss/_header.scss";
@import "scss/_home.scss";
@import "scss/_countries.scss";
@import "scss/_country.scss";
@import "scss/_footer.scss";
@import "scss/_animations.scss";